bin/Debug/net6.0/Project.dll
bin/Debug/net6.0/Project.exe
bin/Debug/net6.0/Project.pdb
obj/project.assets.json
obj/Project.csproj.nuget.dgspec.json
obj/Project.csproj.nuget.g.props
obj/project.nuget.cache
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Project.assets.cache
obj/Debug/net6.0/Project.csproj.AssemblyReference.cache
obj/Debug/net6.0/Project.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Project.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Project.dll
obj/Debug/net6.0/Project.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Project.genruntimeconfig.cache
obj/Debug/net6.0/Project.pdb
obj/Debug/net6.0/ref/Project.dll
obj/Debug/net6.0/refint/Project.dll